<h2>Masters</h2>
<table>
    <thead>
        <th>Name</th>
        <th>Location</th>
        <th>Skills</th>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user_path(user) %></td>
          <td><%= user.location %></td>
          <td><%= user.skills.map(&:description).join(", ") %></td>
        </tr>
        <% end %>
    </tbody>
</table>

